<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/messa57fr/image/upload/v1658168422/erda-estremera-sxNt9g77PE0-unsplash_nmffck.jpg)">
  <div class="container">
    <h1>Welcome to our <strong>MOVING OUT SALE</strong></h1>
    <p>Find all our items for sales in Bangkok - Thonglor</p>
    <%= link_to "Show me the Sales!", posts_path, class:"btn-flat"%>
  </div>
</div>

<div class="container">
  <h2 class="text-center mt-4 mb-4 p-4" >How it works?</h2>

  <div class="cards-by-3">

    <div class="card">
      <img src="https://res.cloudinary.com/messa57fr/image/upload/v1657269269/Untitled-3_copy_iqji9m.jpg" style ="width: 50%" alt="">
      <h4>Check</h4>
      <p>All the items we want to sell!</p>
    </div>

    <div class="card">
      <img src="https://res.cloudinary.com/messa57fr/image/upload/v1657269654/Untitled-4_dvrlun.jpg" style ="width: 50%" alt="">
      <h4>Comment</h4>
      <p>Like or don't like it? Just say it!</p>
    </div>

    <div class="card">
      <img src="https://res.cloudinary.com/messa57fr/image/upload/v1657269269/Untitled-1_copy_fbtbcr.jpg" style ="width: 50%" alt="">
      <h4>Contact</h4>
      <p>Contact us for more informations!</p>
    </div>
  </div>
  <div class="cta p-3 mt-4">
    <%= link_to "Let's go!", posts_path, class:"btn-flat"%>
  </div>
</div>

  <!-- code a footer -->
  <div class="footer mt-1 text-align-center">
    <div class="links">
      <a href="https://web.facebook.com/marketplace/profile/1386053112/?ref=share_attachment"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="https://github.com/Messa57fr"><i class="fab fa-fw fa-github"></i></a>
      <a href="https://twitter.com/messa57fr"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="https://www.instagram.com/messa57fr"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded with <i class="fas fa-heart"></i> by Sam ^^</p>
    </div>
  </div>
