<div class="card-product">
    <div class="card-product-infos">
      <i class="fas fa-user icon"></i>
          <span class = "font-weight-bold text-dark"><%= comment.user.nickname %></span>
          <p><%= comment.content %></p>
    </div>
</div>
